/* #h1{
    background-color: blueviolet;
    font-size: 50px;
}
#h2{
    background-color: rgb(27, 176, 226);
}
#h3{
    background-color: rgb(27, 226, 130);
}
.h4{
    background-color: yellow;
}
.h5{
    background-color: orange;
}
.h6{
    background-color: red;
} */
/* #div{
    background-color: black;
} */
